Flask==0.11.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.10
click==6.6
gunicorn==19.6.0
itsdangerous==0.24
requests==2.10.0
xmltodict==0.10.2
pydrive==1.2.1
oauth2client==3.0.0
cloudconvert==1.0.0
watson-developer-cloud==0.25.2
wikipedia==1.4.0
ffmpy==0.2.2
stop-words==2015.2.23.1